@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#a8c0ff,#3f2b96);

    --background: 0 0% 100%;
    --foreground: 256 7.5% 98.8%;

    --muted: 256 37.5% 22.8%;
    --muted-foreground: 256 7.5% 57.6%;

    --popover: 256 50% 9.88%;
    --popover-foreground: 256 7.5% 98.8%;

    --card: 256 50% 9.88%;
    --card-foreground: 256 7.5% 98.8%;

    --border: 256 37.5% 22.8%;
    --input: 256 37.5% 22.8%;

    --primary: 256 75% 76%;
    --primary-foreground: 256 7.5% 7.6%;

    --secondary: 256 37.5% 22.8%;
    --secondary-foreground: 256 7.5% 98.8%;

    --accent: 256 37.5% 22.8%;
    --accent-foreground: 256 7.5% 98.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 256 7.5% 98.8%;

    --ring: 256 75% 76%;
 
    --radius: 0.5rem;

    --page-shell-max-content-width: 2520px;

    --font-size-sm: 0.5rem;
    --font-size-tiny: 0.71rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.41rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.83rem;
    --font-size-3xl: 4rem;
    --font-size-4xl: 5.65rem;
    --font-size-5xl: 7.99rem;
    --font-size-6xl: 11.3rem;
    --font-size-7xl: 15.98rem;
  }
  
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-black selection:bg-primary selection:text-white;
  }
}

@layer components {
  .page-shell-container {
    max-width: var(--page-shell-max-content-width, 1760px);
  }
}